<!--
	...previous history goes here
	4/10 9:30pm JTS - fixed initial state of the on/off button by adding a js function afterr the ajax get is called
	4/11 6:55pm sh & jd - change camera links to be loaded by ajax.
	4/15 5:14pm LH hookup activity feed.
	4/18 8:05pm SH Add clean trackings.	
-->
<html>
	<head>
		<title>Person Identification System</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
		<script type=text/javascript>
			function hookUpSideCameraLinks() {
				$(".side_camera_link").each(function() {
					var cameraId = $(this).attr('id').substring(6);
					$(this).bind('click', function() {
						$('#right').load('/view_camera/'+cameraId, function() {
							hookUpSideCameraLinks();
						});
						return false;
					});
				});
			}
			function hookUpCameraLinks() {
				$('a#camera0').bind('click', function() {
					$('#right').load('/home');
					return false;
				});
				$(".camera_link").each(function() {
					var cameraId = $(this).attr('id').substring(6);
					var cameraIP = $('#camera_'+cameraId+'_ip').attr('value');
					$(this).bind('click', function() {
						$('#right').load('/view_camera/'+cameraId, function() {
							hookUpSideCameraLinks();
						});
						return false;
					});
					$('a#camera'+cameraId+'_power').bind('click', function() {
						if ($('a#camera'+cameraId+'_power').html() == 'on') {
							$.get('http://'+cameraIP+':5001/shutdown', function() {
									$('a#camera'+cameraId+'_power').html('off');
							});
						} else {
							$.get('http://'+cameraIP+':5001/', function() {
									$('a#camera'+cameraId+'_power').html('on');
							});
						}
						return false;
					});
				});
			}
			$(function() {
				$('a#clean_trackings').bind('click', function() {
					$.get('/clean_trackings');
				});
				$('a#camera0').bind('click', function() {
					$('#right').load('/home');
					return false;
				});
				{% for c in camera_list %}
				$.get('http://{{c.getIP()}}:5001/', function() {
					$('a#camera{{c.getID()}}_power').html('on')
				});
				{% endfor %}
				setInterval(function() {
					$('#left').load('/cameras', function() {
						hookUpCameraLinks();
					});
					$('#bottom').load('/activity');
				}, 3000);
				hookUpCameraLinks();
				$('#bottom').load('/activity');
			});
		</script>
	</head>
	<body>
		<h1>Main View</h1>
		<div id="center">
			<div id="left">
				<h3>Cameras</h3>
				<ul>
					<li><a id="camera0" href="#">Home</a></li>
				{% for c in camera_list %}
					<li><a id="camera{{c.getID()}}" href="#">Camera {{c.getID()}}</a> - <a id="camera{{c.getID()}}_power" href="#">{{"on" if c.isOnline() else "off"}}</a> <img class="indicator" id="camera{{c.getID()}}_indicator" src="{{url_for('static', filename='green_indicator.png' if c.hasMotion() else 'red_indicator.png')}}"/>
					<hidden id="camera_{{c.getID()}}_ip" value="{{c.getIP()}}"/>
					</li>
				{% endfor %}
				</ul>
			</div>
			<div id="right">
				{{ home_content }}
			</div>
		</div>
		<div style="clear: left"/>
		<div><a href="/clean_trackings">Clean Tracking</a></div>
		<div id="bottom">
			<h3>Activity Log</h3>
			<div id="activity_log"></div>
		</div>
		<span>{{database_ip}}</span>
	</body>
</html>